.gradientName {
  background: -webkit-linear-gradient(90deg, #00C0FD, #E70FAA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lottie-player {
  width: 100%;
  height: 350px;
}